<div class="clearfix">
    <h1 class="col-sm-4"><small><%= project %>:</small> &nbsp;&nbsp;<%= title %></h1>
    <% if (!!params.sub) {%>
    <ul id="nav" class="nav ww-nav pull-right col-sm-offset-5 col-sm-3">
        <li class="active"><a href="/">Welcome</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
    <%}%>
</div>