<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/faviconv1.ico" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/bundle.css' />
    <link rel='stylesheet' href='/css/styles.css' />
</head>