<!DOCTYPE html>
<html>
    <% include partials/head %>
    <body>
        <section id="main" class="container-fluid">
            <% include partials/header %>
            <hr/>
            <div class="row main-content">
                <div class="col-sm-offset-3 col-sm-6 zone-content">
                    <h1 class="notfound-title">404</h1>

                    <p class="notfound-message">
                        The page was not found.
                    </p>
                </div>
            </div>
            <hr/>
            <% include partials/footer %>
        </section>

    </body>
</html>